$font-family-sans-serif: 'PT Sans','Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: "PT Sans Caption",$font-family-sans-serif;
$font-family-base: $font-family-sans-serif;

$body-bg: transparent;
$body-color: #eee;
$link-color: white;
$btn-bg: transparent;
$btn-color: white;
$secondary-bg: rgba(255,255,255,0.4);

$brand-primary: $secondary-bg;
$brand-danger: $secondary-bg;

$waycolor: $link-color;
$text_background: $body-bg; // can be btn-bg
$animation_duration: 2s;
