@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background: $body-bg url("../img/body_bg.jpg");
}
.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
#tools_wrapper {
  background: $body-bg;
  .ways {
    padding: 0.5em;
    @extend .col-md-6;
  }
  .buttons {
    @extend .col-md-6;
    text-align: right;
  }
  button {
    display: inline-block;
  }
}
#content_wrapper {
  background: $text_background;
  border-radius: 5px;
}
.sidebar {
  @extend .col-12;
  @extend .col-md-3;
  margin-top: 3em;
  .portrait {
    float: left;
  }
  .name {
    font-size: 18pt;
    margin-left: 1em;
    margin-bottom: 2em;
  }
}
.content {
  @extend .col-12;
  @extend .col-md-9;
  padding: 1em;
  ul {
    margin: 0;
    padding: 0 0 0 1em;
  }
  ul.options {
    padding: 0;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    list-style-type: none;
    border-radius: 4px;
    li {
      padding: 0.5em;
    }
    li:hover {
      cursor: pointer;
    }
    li:last-child {
      border-bottom: none;
    }
  }
  section {
    border-top: 1px dashed #bbb;
  }
  .room-start {
    border-top: none;
  }
  h3 {
    text-align: center;
  }
}
#legal {
  margin-top: 1em;
  color: darken($body-color, 10%);
  font-size: smaller;
  #footleft {
    @extend .col-md-5;
    @extend .offset-md-2;
    @extend .col-12;
  }
}

.way {
  color: $waycolor;
  margin-right: 1em;
}
ul.options {
  border: 1px solid #876;
  li {
    border-bottom: 1px solid #876;
    img {
      float: left;
      width: 64px;
      height: 64px;
    }
    .text {
      min-height: 64px;
    }
    .title {
      font-weight: bold;
      font-size: 16pt;
      display: inline-block;
    }
    .subtitle {
      font-size: 14pt;
    }
  }
  li:hover {
    background-color: rgba(153,136,119,0.2);
  }
}
#legal {
  .muted {
    color: grey;
  }
}
hr {
  width: 50%;
  border-color: $body-color;
}

.center {
  text-align: center;
}

.btn-outline-primary,
.btn-outline-danger {
  border: none;
  border-color: transparent;
}
